-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: reporte_quintas
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `VehicleShiftAssignment`
--

LOCK TABLES `VehicleShiftAssignment` WRITE;
/*!40000 ALTER TABLE `VehicleShiftAssignment` DISABLE KEYS */;
/*!40000 ALTER TABLE `VehicleShiftAssignment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `CedisFormField`
--

LOCK TABLES `CedisFormField` WRITE;
/*!40000 ALTER TABLE `CedisFormField` DISABLE KEYS */;
/*!40000 ALTER TABLE `CedisFormField` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `CedisForm`
--

LOCK TABLES `CedisForm` WRITE;
/*!40000 ALTER TABLE `CedisForm` DISABLE KEYS */;
INSERT INTO `CedisForm` VALUES (1,'Inspección de Unidad',1,'2026-06-22 14:34:36.595','2026-06-22 14:34:36.595'),(2,'Checklist de Inspección Diaria (GDL)',2,'2026-06-22 21:16:37.437','2026-06-22 21:16:37.437');
/*!40000 ALTER TABLE `CedisForm` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `Shift`
--

LOCK TABLES `Shift` WRITE;
/*!40000 ALTER TABLE `Shift` DISABLE KEYS */;
INSERT INTO `Shift` VALUES (1,'matutino','06:00','18:00',1,1,'2026-06-19 23:35:21.379','2026-06-19 23:35:21.379',0,1,NULL,NULL),(2,'vespertino','18:00','06:00',1,1,'2026-06-19 23:35:49.610','2026-06-19 23:36:05.963',6,1,NULL,NULL),(3,'Matutino','06:00','18:00',2,1,'2026-06-22 18:18:53.660','2026-06-22 18:18:53.660',0,1,NULL,NULL),(4,'Nocturno','18:00','06:00',2,1,'2026-06-22 18:18:53.669','2026-06-22 18:18:53.669',0,1,NULL,NULL);
/*!40000 ALTER TABLE `Shift` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `CedisCommitmentPeriod`
--

LOCK TABLES `CedisCommitmentPeriod` WRITE;
/*!40000 ALTER TABLE `CedisCommitmentPeriod` DISABLE KEYS */;
/*!40000 ALTER TABLE `CedisCommitmentPeriod` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-22 23:02:24
